.question {
  font-size: 3em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.choice-prompt {
  display: flex;
  width: 100%;
  height: 85vh;
  flex-direction: row;
}

.choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2rem;
  font-weight: 600;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s ease-out;
}

.choice-a {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 3em;
}

.choice-b {
  background-color: var(--background-color);
  color: var(--accent-color);
  font-size: 3em;
}

.choice-a:hover {
  background-color: var(--accent-color-dark);
}

.choice-a:focus {
  outline: none;
  background-color: var(--accent-color-dark);
}

.choice-b:hover {
  background-color: #e0e0e0;
}

.choice-b:focus {
  outline: none;
  background-color: #e0e0e0;
}

.info {
  margin-top: 3rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
  max-width:70%;
}

.info-item {
  margin-bottom: 1rem;
}

.info-a {
  color: var(--background-color);
}

.info-b {
  color: var(--accent-color);
}
