#tutorial {
  color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10rem;
}

.tutorial-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  max-width:50%;
  text-align:center;
}

.tutorial-list-item {
  font-size: 1.3rem;
  z-index: 2;
  position: relative;
  padding-bottom:2.5rem;
}

.tutorial-list-item > span.bullet-point {
  font-weight:700;
  color: var(--primary-color );
  text-decoration: underline;
}

.title-accent {
  text-decoration: underline var(--accent-color);
  color: var(--accent-color);
  border-radius: 5px;
  padding: 0 0.5rem;
}

li::marker {
  font-weight:700;
}

span.accent-word {
  color: var(--accent-color);
  /* font-weight: 700; */
}